<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
   
</head>

<body class="h-full grid place-items-center">
    <div id="app">
        <section v-if="inProgressAssignment.length">
            <h2 class="font-bold mb-2">Assignments</h2>

            <ul>
                <li v-for="assignment in inProgressAssignment" 
                    :key="assignment.id"
                >
                    <label>
                        {{ assignment.name }} 
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
        </section>


        <section class="my-2" v-if="completedAssignment.length">
            <h2 class="font-bold mb-2">Completed</h2>

            <ul>
                <li v-for="assignment in completedAssignment" 
                    :key="assignment.id"
                >
                    <label>
                        {{ assignment.name }} 
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
        </section>
    </div>
    

    <script>
        const app = {
            data(){
                return{
                    assignments:[
                        { name: 'Speaking' ,complete:false,id:1 },
                        { name: 'Reading'  ,complete:false ,id:2 },
                        { name: 'Writting' ,complete:false,id:3 },
                    ]
                    
                }
            },
            computed:{
                completedAssignment(){
                    return this.assignments.filter(a => a.complete);
                },
                inProgressAssignment(){
                    return this.assignments.filter(a => !a.complete);
                }
            }
        };

        Vue.createApp(app).mount('#app')
    </script>
</body>
</html>